@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
}
.img-hidden{
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Adjust the gap between columns as needed */
  }

.collapse {
    min-height: 100px;
    max-height: 400px; /* Set a value greater than the expected height of your content */
    transform-origin: top;
    transform: scaleY(0.05);
    transition: all 0.4s ease, max-height 0.4s ease;
    overflow: hidden;
}
.show {
    min-height: 100px;
    max-height: 400px; /* Set a value greater than the expected height of your content */
    transform-origin: top;
    transform: scaleY(1);
    transition: all 0.4s ease, max-height 0.4s ease;
    overflow: hidden;
}

.cart-text{
    transition: all 0.5s ease-out;
}