input{
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

textarea{
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}